doctype html
html
	head
		title #{profileUsername}
		meta(charset="utf-8")
		meta(name='viewport', content='initial-scale=1.0, user-scalable=yes')
		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(href='/css/style.css', rel='stylesheet', type='text/css')
		link(href='/css/desk.css', rel='stylesheet', type='text/css')
		link(href='/css/cell.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='js/jquery-3.1.1.min.js')
		script(type='text/javascript', src='js/profile/friend-profile.js')
		script(type='text/javascript', src='js/principal.js')
		script(type='text/javascript', src='js/header.js')

	body
		div(id="header")

		div.pageBox
		
			div.box

				img.centered(style='height:200px; max-width: 100%;' src="#{profilePhoto}")
				a.link.centered(href='/#{profileUsername}')
					h1 #{profileFullname} (#{profileUsername})
				div.box
					h4.floatRight#countFriends
					form#deleteForm(method='post' action='/friend/delete')
						input.button(type='button' value='Borrar amigo' onclick='document.getElementById("confirmDeleteFriendDiv").style.display = "block";')
						input(type='hidden' value='#{profileId}' name='userId')
						div.hidden#confirmDeleteFriendDiv.box.above(style='width:400px;')
							p ¿Seguro de que quieres eliminarlo/a de tus amigos?
							input.button(type='submit' value='Confirmar')
							input.button(type='button' value='Cancelar' style='margin-left:5px;' onclick='document.getElementById("confirmDeleteFriendDiv").style.display = "none";')

				div.hidden#userEvents

		input(type='hidden' value='#{sessionId}' id='sessionId')
		input(type='hidden' value='#{profileId}' id='profileId')