doctype html
html
	head
		title #{profileUsername}
		meta(charset="utf-8")
		meta(name='viewport', content='initial-scale=1.0, user-scalable=yes')
		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(href='/css/style.css', rel='stylesheet', type='text/css')
		link(href='/css/desk.css', rel='stylesheet', type='text/css')
		link(href='/css/cell.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='js/jquery-3.1.1.min.js')
		script(type='text/javascript', src='js/profile/your-profile.js')
		script(type='text/javascript', src='js/principal.js')
		script(type='text/javascript', src='js/header.js')

	body
		div(id="header")

		div.pageBox
		
			div.box

				img.centered(style='height:200px; max-width: 100%; cursor: pointer;' src="#{profilePhoto}" onclick="document.getElementById('profilePhotoInput').click()")
				a.link.centered(href='/#{profileUsername}')
					h1 #{profileFullname} (#{profileUsername})
				div.box
					h4.floatRight#countFriends
					form#changeProfilePhotoForm(action="/change/profilePhoto" method='post' enctype='multipart/form-data' onsubmit='return validateProfilePhoto()')
						input.button(type="button" value="Cambiar foto de perfil" onclick="document.getElementById('profilePhotoInput').click()")
						input#profilePhotoInput.hidden(type='file' name='profilePhoto' accept='image/*' onchange='document.getElementById("changeProfilePhotoForm").submit();')
				div.box
					a.button#configButton(href="/config") Configuración
					a.button#friendsButton(href="/friends" style='position:relative; left:5px;') Amigos

				div.hidden#userEvents

		input(type='hidden' value='#{sessionId}' id='sessionId')
		input(type='hidden' value='#{profileId}' id='profileId')