doctype html
html
	head
		title Fasvent
		meta(charset="utf-8")
		meta(name='viewport', content='initial-scale=1.0, user-scalable=yes')
		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(href='/css/style.css', rel='stylesheet', type='text/css')
		link(href='/css/desk.css', rel='stylesheet', type='text/css')
		link(href='/css/cell.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='js/jquery-3.1.1.min.js')
		script(type='text/javascript', src='js/header.js')
		script(type='text/javascript', src='js/config/config.js')

	body
		div(id="header")

		div.pageBox
			div.centered
				div.box
					label Cambiar nombre de usuario
					input#usernameConfigInput(style="width: 100%; margin: 2px;" type="text" value="" disabled)
					form(action="/change/username" method="post" onsubmit='return changeUsername()' id="changeUsernameForm")
						input(style="width: 100%; margin: 2px;" type="text" placeholder="Escribe un nuevo nombre" id="changeUsernameInput" name="username" maxlength='20')
						input(style="width: 100%; margin: 2px;" type="password" placeholder="Escribe tu contraseña actual" id="changeUsernamePassword" name="currentPassword")
						input.button(type="submit" value="Confirmar" id="changeUsernameSubmit")
						p.redtext#errorChangeUsername

				div.box
					label Cambiar contraseña
					form(action="/change/password" method="post" onsubmit='return changePassword()' id="changePasswordForm")
						input(style="width: 100%; margin: 2px;" type="password" placeholder="Escribe una nueva contraseña" id="changePasswordInput" name="password") 
						input(style="width: 100%; margin: 2px;" type="password" placeholder="Escribe tu contraseña actual" id="changePasswordPassword" name="currentPassword")
						input.button(type="submit" value="Confirmar" id="changePasswordSubmit")
						p.redtext#errorChangePassword

				div.box
					label Cambiar privacidad
					input#privacyConfigInput(style="width: 100%; margin: 2px;" type="text" value="" disabled)
					form(action="/change/privacy" method="post" id="changePrivacyForm" onsubmit='return changePrivacy()')
						input(style="width: 100%; margin: 2px;" type="password" placeholder="Escribe tu contraseña actual" id="changePasswordPassword" name="currentPassword")
						select.button(style="margin: 2px;" name="privacy")
							option#privacyPublic Público
							option#privacyPrivate Privado
						br
						input.button(type="submit" value="Confirmar" id="changePrivacySubmit")
						p.redtext#errorChangePrivacy
						p Las actividades de los usuarios públicos pueden ser vistas por cualquiera incluso si no está registrado.
						p Las actividades de los usuarios privados sólo pueden ser vistas por tus amigos.

		input(type='hidden' value='#{sessionId}' id='sessionId')