doctype html
html
	head
		title Fasvent
		meta(charset="utf-8")
		meta(name='viewport', content='initial-scale=1.0, user-scalable=yes')
		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(href='/css/style.css', rel='stylesheet', type='text/css')
		link(href='/css/desk.css', rel='stylesheet', type='text/css')
		link(href='/css/cell.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='/js/jquery-3.1.1.min.js')
		script(type='text/javascript', src='/js/header.js')
		script(type='text/javascript', src='/js/default.js')
		script(type='text/javascript', src='/js/resend-email.js')

	body
		div(id="header")

		div.pageBox
			div.box
				p Hemos enviado un mensaje de verificación a tu email, por favor revíselo. Si no lo encuentra, puede que esté en la sección de correos no deseados.
				p
					| Si aún así no lo encuentra, puede hacer 
					a.link(onclick="document.getElementById('resendEmailDiv').style.display = 'block';") click aquí
					|  para reenviar el mensaje.

				p#resendEmailOkText(style='color: green')

			div.above.box.hidden#resendEmailDiv(style="width: 400px")
				form#resendEmailForm(onsubmit="return resendEmail()")
					p Por favor, vuelve a ingresar tu email
					input(type="email" name="email" placeholder="Email" maxlength="255" style="width: 100%")
					p.redtext#error
					input.button#forgotPasswordSubmit(type="submit" value="Enviar")
					input.button(type="button" value="Cancelar" onclick="document.getElementById('resendEmailDiv').style.display = 'none';")
					input(type="hidden" name="type" value="#{type}")

		input(type='hidden' value='#{sessionId}' id='sessionId')