doctype html
html
	head
		title Fasvent
		meta(charset="utf-8")
		meta(name='viewport', content='initial-scale=1.0, user-scalable=yes')
		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(href='/css/style.css', rel='stylesheet', type='text/css')
		link(href='/css/desk.css', rel='stylesheet', type='text/css')
		link(href='/css/cell.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='js/jquery-3.1.1.min.js')
		script(type='text/javascript', src='js/header.js')
		script(type='text/javascript', src='js/default.js')
		script(type='text/javascript', src='js/forgot-password-email.js')

	body
		div(id="header")

		div.pageBox
			h2.centered(style="background-color: white; padding: 20px; margin-top: 10px; border-radius: 10px;") Restaurar contraseña
				form#forgotPasswordForm(onsubmit="return sendEmailAjax()")
					p Para poder cambiar su contraseña es necesario que verifiquemos su email.
					input(style='width: 250px;' type='text' placeholder='Email' name='email')
					input.button(type='submit' value='Listo')
					p.redtext#error

		input(type='hidden' value='#{sessionId}' id='sessionId')