doctype html
html
	head
		script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
		script.
			(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-2046458671403357",
			enable_page_level_ads: true
			});

		title Fasvent
		meta(charset="utf-8")
		meta(name='viewport', content='initial-scale=1.0, user-scalable=yes')
		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(href='/css/style.css', rel='stylesheet', type='text/css')
		link(href='/css/desk.css', rel='stylesheet', type='text/css')
		link(href='/css/cell.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='js/jquery-3.1.1.min.js')
		script(type='text/javascript', src='js/index/map.js')
		script(type='text/javascript', src='js/principal.js')
		script(type='text/javascript', src='js/index/load-events.js')
		script(type='text/javascript', src='js/index/event.js')
		script(type='text/javascript', src='js/index/init.js')
		script(type='text/javascript', src='js/header.js')

	body
		div(id="header")

		div(id="actionsOptions")
			ul(id="actionsOptionsList")

				div(id="actionsOptionsDesk")
					li.activeOptionsLi(onclick="changeMenuDesk('events')" id="eventsLiDesk" title='Eventos')
						img(height="40px" width="40px" src="img/default_event.png")
					li(onclick="changeMenuDesk('about')" id="aboutLiDesk" title='Acerca')
						img(height="40px" width="40px" src="img/about.png")

				div(id="actionsOptionsCell")
					li.activeOptionsLi(onclick="changeMenuCell('map')" id="mapLiCell" title='Mapa')
						img(height="40px" width="40px" src="img/transparent_logo.png")
					li(onclick="changeMenuCell('events')" id="eventsLiCell" title='Eventos')
						img(height="40px" width="40px" src="img/default_event.png")
					li(onclick="changeMenuCell('about')" id="aboutLiCell" title='Acerca')
						img(height="40px" width="40px" src="img/about.png")

		div(id="actions")
			div(id="events")
				div.box
					p
						| Hay más eventos cerca tuyo de lo que imaginás. Para crear eventos y más debes 
						a.link(href='/signup') tener una cuenta
						| . Si ya tienes una cuenta, puedes 
						a.link(href='/login') iniciar sesión
						| .
				div.box
					form.searchForm#searchEventForm(onsubmit="return searchEvent()")
						input(type="text" name="searchEventValue" id="searchEventInput" placeholder="Buscar eventos" onchange="searchEvent()")
						input.button.floatRight(type="image" src="img/search.png" width="20px" height="20px")

				div#eventsDiv
					p.box Cargando...

			div.hidden(id="about" class="box")
				p Fasvent es un sitio web en el que podés encontrar eventos creados por usuarios localizados en Google Maps.
				br
				p Creado por Leonardo Massaroli, Argentina.

		div(id="terms")
			p Al usar Fasvent usted acepta sus&nbsp
				a.link(href='/terms') términos de uso.

		div(id="map" style="z-index: 1;")
			img.loading(src="/img/loading.gif")

		div(id="mapthings")

		div(id="spamText")
			span El significado más común de la palabra evento es el que se refiere a un acontecimiento. No se trata de cualquier tipo de acto, sino que se aplica a hechos que tienen una especial relevancia.
			span Un evento no tiene habitualmente un carácter privado y dentro de un ámbito familiar, sino que implica una proyección social. Esto quiere decir que es un acontecimiento celebrado por un número limitado de personas ( por ejemplo una boda ) pero es considerado como evento si puede interesar a un sector de la sociedad.
			span Hay eventos de muchos tipos. Los hay deportivos, culturales, festivos, sociales o institucionales. Todos ellos tienen algunos rasgos comunes. Son anunciados con bastante antelación a través de algún medio de comunicación. Requieren de una gran preparación, y por este motivo hay empresas que los organizan. Las entidades que se dedican a ello se ocupan de preparar todos los aspectos que conforman el evento ( las invitaciones, contratación de personal necesario, decoración del acto y otros muchos detalles ). Tienen una dimensión formal, por lo que a menudo hay un cierto protocolo que debe respetarse para que luzca en todo su esplendor. Cada evento tiene varios niveles de participantes: los protagonistas, los invitados y aquellos que se interesan por él a través de un medio de comunicación. En este sentido, la prensa escrita ( específicamente la prensa rosa o del corazón ) informa a sus lectores sobre aquellos eventos sociales en los que participan celebrities o famosos, y pueden ser bodas, fiestas, desfiles de modelos, presentaciones de discos o cualquier otro donde intervengan personajes conocidos del mundo del espectáculo.
			span El nivel de formalidad del evento depende de su modalidad. Si es de tipo institucional ( la coronación de un rey, por ejemplo ) el acto que se organiza tiene una gran simbología. Si hablamos de un evento deportivo, el elemento protocolario también existe pero no es tan significativo, ya que lo importante es la realización de la propia actividad deportiva.
			span Un aspecto curioso de los eventos es el análisis mediático que generan, sucediendo en la mayoría de casos que la ciudadanía participe mediante las redes sociales comentando sus peculiaridades.
			span Hay otra acepción de la palabra evento y se usa como hecho imprevisto, aunque en estos casos se utiliza más el término eventualidad.

		input(type='hidden' value='#{sessionId}' id='sessionId')