doctype html
html
	head
		script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
		script.
			(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-2046458671403357",
			enable_page_level_ads: true
			});

		title Fasvent
		meta(charset="utf-8")
		meta(name='viewport', content='initial-scale=1.0, user-scalable=yes')
		link(rel="icon" type="image/png" href="/img/favicon.png")
		
		link(href='/css/style.css', rel='stylesheet', type='text/css')
		link(href='/css/desk.css', rel='stylesheet', type='text/css')
		link(href='/css/cell.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='js/jquery-3.1.1.min.js')
		script(type='text/javascript', src='js/index/map.js')
		script(type='text/javascript', src='js/principal.js')
		script(type='text/javascript', src='js/header.js')
		script(type='text/javascript', src='js/index/event.js')
		script(type='text/javascript', src='js/index/load-events.js')
		script(type='text/javascript', src='js/index/init-logged.js')

	body
		div(id="header")

		div(id="actionsOptions")
			ul(id="actionsOptionsList")

				div(id="actionsOptionsDesk")
					li.activeOptionsLi(onclick="changeMenuDesk('events')" id="eventsLiDesk" title='Eventos')
						img(height="35px" width="35px" src="img/default_event.png")
					li(onclick="changeMenuDesk('about')" id="aboutLiDesk" title='Acerca')
						img(height="35px" width="35px" src="img/about.png")

				div(id="actionsOptionsCell")
					li.activeOptionsLi(onclick="changeMenuCell('map')" id="mapLiCell" title='Mapa')
						img(height="35px" width="35px" src="img/transparent_logo.png")
					li(onclick="changeMenuCell('events')" id="eventsLiCell" title='Eventos')
						img(height="35px" width="35px" src="img/default_event.png")
					li(onclick="changeMenuCell('about')" id="aboutLiCell" title='Acerca')
						img(height="35px" width="35px" src="img/about.png")

		div(id="actions")
			div(id="events")
				div.box
					form.searchForm#searchEventForm(onsubmit="return searchEvent()")
						input(type="text" name="searchEventValue" id="searchEventInput" placeholder="Buscar eventos" onchange="searchEvent()")
						input.button.floatRight(type="image" src="img/search.png" width="20px" height="20px")

				div#eventsDiv
					p.box Cargando...

			div.hidden(id="about" class="box")
				p Fasvent es un sitio web en el que podés encontrar eventos creados por usuarios localizados en Google Maps.
				br
				p Creado por Leonardo Massaroli, Argentina.


		div(id="terms")
			p Al usar Fasvent usted acepta sus&nbsp
				a.link(href='/terms') términos de uso.

		div(id="map" style="z-index: 1;")
			img.loading(src="/img/loading.gif")

		div(id="mapthings")
			img.button#createEventPlus(onclick="document.getElementById('createEvent').style.display = 'block'; document.getElementById('createEventPlus').style.display = 'none';" height="35px" width="35px" style='border:none; padding: 10px; border-radius: 50%; position: absolute; right: 20px; bottom: 20px; box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);' src="img/plus.png" title='Crear evento')
			
		div.hidden.above(id="createEvent" style='width: 400px;' class="box")
			form(method='post' onsubmit='return createEventAjax()' id='createEventForm' enctype='multipart/form-data')
				img.button(src='img/x.png' width='30px' height='30px' style='position:absolute; right: 10px; z-index:1; border:none; border-radius:50%;' onclick="document.getElementById('createEvent').style.display = 'none'; document.getElementById('createEventPlus').style.display = 'block';")
				label Foto del evento:
				input#eventPhotoInput.hidden(type='file' name='eventPhoto' accept='image/*' onchange="previewPicture(this,'preview'); document.getElementById('uploadEventPicture').value = 'true';")
				input(type="hidden" name="uploadEventPicture" value="false" id="uploadEventPicture")
				img#preview.centered(src='img/default_event.png' height='150' style='cursor: pointer;' onclick="document.getElementById('eventPhotoInput').click()")
				label Título:
				input(type='text', name='createEventTitle', id="createEventTitle" placeholder='Título', maxlength='64')
				p(class="redtext" id="errorEventTitle")
				label Lugar:
				input(type='address', id='address' name='createEventCompleteAddress' placeholder='Algún lugar o dirección', maxlength="255" onchange="searchAddress()")
				img.button.floatRight(src="img/search.png" onclick="searchAddress()" width="20px" height="20px" style='margin-right:15px;')
				p(class="redtext" id="errorEventAddress")
				label Tipo:
				select.button#selectTypeCreateEvent(name="createEventType" onchange="createEventChangeType()")
					option(selected="selected") Único
					option Semanal
				br
				div#createEventUniqueDiv
					label Fecha/Hora:
					input#dateCreateEvent(type='date' placeholder='DD/MM/YYYY' name='createEventDate' maxlength='10')
					input#timeCreateEvent(type='time' placeholder='HH:MM' name='createEventTime' maxlength='5')
					p(class='redtext' id='errorEventDate')
					p(class='redtext' id='errorEventTime')
				div.hidden#createEventDailyDiv
					label Los días:
					div.floatLeft(width="5%")
						span(style='width:10px; display:table') Lun
						input(type='checkbox' name='createEventMonday' style='display:table')
					div.floatLeft(width="5%" style='margin-left:5%')
						span(style='width:10px; display:table') Mar
						input(type='checkbox' name='createEventTuesday' style='display:table')
					div.floatLeft(width="5%" style='margin-left:5%')
						span(style='width:10px; display:table') Mie
						input(type='checkbox' name='createEventWednesday' style='display:table')
					div.floatLeft(width="5%" style='margin-left:5%')
						span(style='width:10px; display:table') Jue
						input(type='checkbox' name='createEventThursday' style='display:table')
					div.floatLeft(width="5%" style='margin-left:5%')
						span(style='width:10px; display:table') Vie
						input(type='checkbox' name='createEventFriday' style='display:table')
					div.floatLeft(width="5%" style='margin-left:5%')
						span(style='width:10px; display:table') Sab
						input(type='checkbox' name='createEventSaturday' style='display:table')
					div.floatLeft(width="5%" style='margin-left:5%')
						span(style='width:10px; display:table') Dom
						input(type='checkbox' name='createEventSunday' style='display:table')
					br
					p(class="redtext" id="errorEventDays")
					label A las:
					input#dailyTimeCreateEvent(type='time' placeholder='HH:MM' name='createEventDailyTime' maxlength='5' style='width: calc(100% - 26px);')
					p(class='redtext' id='errorEventDailyTime')
					label Última fecha:
					input#dailyDateCreateEvent(type='date' placeholder='DD/MM/YYYY' name='createEventDailyDate' maxlength='10' style='width: calc(100% - 26px);')
					p(class='redtext' id='errorEventDailyDate')
				label Duración(Hs): 
				input#durationCreateEvent(type='text' placeholder='HH:MM' name='createEventDuration' maxlength='5')
				p(class='redtext' id='errorEventDuration')
				label Descripción:
				textarea#eventDescription(name='createEventDescription', placeholder='Descripción', maxlength='5000')
				p(class='redtext' id='errorEventDescription')
				label Privacidad: 
				select.button(name="createEventPrivacy")
					option Público
					option Privado
				p Los eventos públicos los pueden ver cualquiera.
				p Los eventos privados sólo los pueden ver tus amigos.
				p.redtext#errorEventNotLogged
				input(type='hidden', name='createEventLatlng', id='createEventLatlng' value='')
				input.button(id='createEventSubmit' type='submit' value='Crear' style='width: 50%;')
				img.hidden#createEventLoading(width='20px' height='20px' style='position:relative; top:5px; left:5px;' src='/img/loading.gif')

		div(id="spamText")
			span El significado más común de la palabra evento es el que se refiere a un acontecimiento. No se trata de cualquier tipo de acto, sino que se aplica a hechos que tienen una especial relevancia.
			span Un evento no tiene habitualmente un carácter privado y dentro de un ámbito familiar, sino que implica una proyección social. Esto quiere decir que es un acontecimiento celebrado por un número limitado de personas ( por ejemplo una boda ) pero es considerado como evento si puede interesar a un sector de la sociedad.
			span Hay eventos de muchos tipos. Los hay deportivos, culturales, festivos, sociales o institucionales. Todos ellos tienen algunos rasgos comunes. Son anunciados con bastante antelación a través de algún medio de comunicación. Requieren de una gran preparación, y por este motivo hay empresas que los organizan. Las entidades que se dedican a ello se ocupan de preparar todos los aspectos que conforman el evento ( las invitaciones, contratación de personal necesario, decoración del acto y otros muchos detalles ). Tienen una dimensión formal, por lo que a menudo hay un cierto protocolo que debe respetarse para que luzca en todo su esplendor. Cada evento tiene varios niveles de participantes: los protagonistas, los invitados y aquellos que se interesan por él a través de un medio de comunicación. En este sentido, la prensa escrita ( específicamente la prensa rosa o del corazón ) informa a sus lectores sobre aquellos eventos sociales en los que participan celebrities o famosos, y pueden ser bodas, fiestas, desfiles de modelos, presentaciones de discos o cualquier otro donde intervengan personajes conocidos del mundo del espectáculo.
			span El nivel de formalidad del evento depende de su modalidad. Si es de tipo institucional ( la coronación de un rey, por ejemplo ) el acto que se organiza tiene una gran simbología. Si hablamos de un evento deportivo, el elemento protocolario también existe pero no es tan significativo, ya que lo importante es la realización de la propia actividad deportiva.
			span Un aspecto curioso de los eventos es el análisis mediático que generan, sucediendo en la mayoría de casos que la ciudadanía participe mediante las redes sociales comentando sus peculiaridades.
			span Hay otra acepción de la palabra evento y se usa como hecho imprevisto, aunque en estos casos se utiliza más el término eventualidad.
			
		input(type='hidden' value='#{sessionId}' id='sessionId')