doctype html
html
	head
		title Fasvent
		meta(charset="utf-8")
		meta(name='viewport', content='initial-scale=1.0, user-scalable=yes')
		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(href='/css/style.css', rel='stylesheet', type='text/css')
		link(href='/css/desk.css', rel='stylesheet', type='text/css')
		link(href='/css/cell.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='js/jquery-3.1.1.min.js')
		script(type='text/javascript', src='js/header.js')
		script(type='text/javascript', src='js/login/login.js')

	body
		div(id="header")

		div.pageBox
			h2.centered(style="width:calc(100% - 40px); max-width:300px; background-color: white; padding: 20px; margin-top: 10px; border-radius: 10px;") Iniciar sesión
				form#loginForm(onsubmit='return loginAjax()')
					input(style='width: calc(100% - 10px);' type='text', id='emailOrUsername', name="emailOrUsername", placeholder='Email o nombre de usuario', maxlength="255")
					br
					input(style='width: calc(100% - 10px);' type='password', id='loginpassword', name="password", placeholder='Contraseña', maxlength="255")
					p(class="redtext" id="errorLogin")
					input(type='submit' value='Entrar' class="button" style='width: 100%;')
					a.link(href='/forgot-password-email' style='margin-left: 5px;') ¿Olvidó su contraseña?
		
		input(type='hidden' value='#{sessionId}' id='sessionId')