doctype html
html
	head
		title Fasvent
		meta(charset="utf-8")
		meta(name='viewport', content='initial-scale=1.0, user-scalable=yes')
		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(href='/css/style.css', rel='stylesheet', type='text/css')
		link(href='/css/desk.css', rel='stylesheet', type='text/css')
		link(href='/css/cell.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='js/jquery-3.1.1.min.js')
		script(type='text/javascript', src='js/principal.js')
		script(type='text/javascript', src='js/header.js')
		script(type='text/javascript', src='js/notifications/notifications.js')

	body
		div(id="header")

		div.pageBox

			div#content

		input(type='hidden' value='#{sessionId}' id='sessionId')