doctype html
html
	head
		title Fasvent
		meta(charset="utf-8")
		meta(name='viewport', content='initial-scale=1.0, user-scalable=yes')
		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(href='/css/style.css', rel='stylesheet', type='text/css')
		link(href='/css/desk.css', rel='stylesheet', type='text/css')
		link(href='/css/cell.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='../js/jquery-3.1.1.min.js')
		script(type='text/javascript', src='../js/header.js')
		script(type='text/javascript', src='../js/search/search.js')

	body
		div(id="header")

		div.pageBox
			div.box.floatLeft(style="width: calc(50% - 30px); margin-left: 5px;")
				h1 Eventos
				div#eventsContent(style="width: 100%;")
					p Cargando...

			div.box.floatRight(style="width: calc(50% - 30px); margin-right: 5px;")
				h1 Usuarios
				div#usersContent(style="width: 100%;")
					p Cargando...

		input(type='hidden' value='#{value}' id='value')
		input(type='hidden' value='#{sessionId}' id='sessionId')