doctype html
html
	head
		title Fasvent
		meta(charset="utf-8")
		meta(name='viewport', content='initial-scale=1.0, user-scalable=yes')
		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(href='/css/style.css', rel='stylesheet', type='text/css')
		link(href='/css/desk.css', rel='stylesheet', type='text/css')
		link(href='/css/cell.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='js/jquery-3.1.1.min.js')
		script(type='text/javascript', src='js/header.js')
		script(type='text/javascript', src='js/signup/signup.js')

	body
		div(id="header")

		div.pageBox
			h2.centered(style="width:calc(100% - 40px); max-width:300px; background-color: white; padding: 20px; margin-top: 10px; border-radius: 10px;") Registrarse
				form#signupForm(onsubmit='return signupAjax()')
					input(style='width: calc(100% - 10px);' type='email', id='signemail', name="email", placeholder='Email', maxlength="255")
					p(class="redtext" id="errorSignupEmail")
					p(class="redtext" id="errorSignupUsedEmail")
					input(style='width: calc(100% - 10px);' type='text', id='signfullname', name="fullname", placeholder='Nombre completo', maxlength="64")
					p(class="redtext" id="errorSignupFullname")
					input(style='width: calc(100% - 10px);' type='text', id='signusername', name="username", placeholder='Nombre de usuario', maxlength="32")
					p(class="redtext" id="errorSignupUsername")
					p(class="redtext" id="errorSignupUsedUsername")
					input(style='width: calc(100% - 10px);' type='password', id='signpassword', name="password", placeholder='Contraseña', maxlength="255")
					p(class="redtext" id="errorSignupPassword")
					input#signupSubmit(type='submit' value='Crear cuenta' class="button" style='width: 100%;')
		
		input(type='hidden' value='#{sessionId}' id='sessionId')