doctype html
html
	head
		title Fasvent
		meta(charset="utf-8")
		meta(name='viewport', content='initial-scale=1.0, user-scalable=yes')
		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(href='/css/style.css', rel='stylesheet', type='text/css')
		link(href='/css/desk.css', rel='stylesheet', type='text/css')
		link(href='/css/cell.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='js/jquery-3.1.1.min.js')
		script(type='text/javascript', src='js/header.js')
		script(type='text/javascript', src='js/default.js')

	body
		div(id="header")

		div.pageBox
			div.box
				p Fasvent es una red social y una herramienta para encontrar eventos en un mapa. Queda bajo la responsabilidad del usuario ir o no a estos eventos, ya que podrían ser falsos debido a que son creados libremente por los usuarios.
				br
				p Privacidad:
				br
				p Fasvent tiene ciertas normas que podrían asegurarte tu privacidad. Primero que nada los eventos pueden ser Públicos o Privados.
				p Si un evento es público, lo puede ver cualquier persona, incluso si no está registrada.
				p Si un evento es privado, sólo lo podrás ver tú y tus amigos.
				br
				p Por otra parte uno puede ver a que eventos asistió o asistirá un usuario, pero el usuario puede configurar si su perfil es Público o Privado.
				p Si un usuario es público, cualquier persona podrá ver los eventos a los que asistió y asistirá, incluso si no está registrada.
				p Si un usuario es privado, sólo él y sus amigos podrán ver los eventos a los que asistió y asistirá.

		input(type='hidden' value='#{sessionId}' id='sessionId')