@media all and (max-width: 720px){

#map, #mapthings{
	background-color: rgb(240, 240, 245);
	position: absolute;
	top: 45px;
	left: 50px;
	width: calc(100% - 50px);
	height: calc(100% - 70px);
}

#actions{
	display: none;
	overflow-y: scroll;
	top: 45px;
	left: 50px;
	position: absolute;
	width: calc(100% - 50px);
	height: calc(100% - 70px);
	background-color: rgb(240, 240, 245);
}

#actionsOptionsCell{
	display: inline;
}

#actionsOptionsDesk{
	display: none;
}

#terms{
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - 10px);
	border-top: 1px solid;
	height: 9px;
	padding: 5px;
	padding-bottom: 10px;
	background-color: rgb(240, 240, 245);
}

.button{
	font-size: 16px;
}

#searchFriendsHeader{
	display:none;
}

#headerMenuButton{
	display:inline;
}

#headerRight a{
	display: none;
}

}