@media all and (min-width: 721px){

#map, #mapthings{
	background-color: rgb(240, 240, 245);
	position: absolute;
	top: 45px;
	left: 450px;
	width: calc(100% - 450px);
	height: calc(100% - 45px);
}

#actions{
	overflow-y: scroll;
	top: 45px;
	left: 50px;
	position: absolute;
	width: 399px;
	height: calc(100% - 70px);
	background-color: rgb(240, 240, 245);
	border-right: 1px solid black;
}

#actionsOptionsDesk{
	display: inline;
}

#actionsOptionsCell{
	display: none;
}

#terms{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 439px;
	border-top: 1px solid;
	border-right: 1px solid;
	height: 9px;
	padding: 5px;
	padding-bottom: 10px;
	background-color: rgb(240, 240, 245);
}

}