* {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	word-wrap: break-word;
}

html, body {
	height: 100%;
	background-color: rgb(240, 240, 245);
}

@media (max-width:500px) {
	#configButton{float: none;}
}

#searchFriendsHeader{
	max-width: 400px;
	width: calc(100% - 500px);
}

#searchFriendsHeader input{
	min-width: 0;
}

#header{
	z-index: 2;
	display: block;
	top: 0px;
	position: fixed;
	width: 100%;
	height: 45px;
	background-color: rgb(245, 245, 245);
	box-shadow: 0px 0px 5px 0px rgb(0,0,0);
}

#headerMenuBox a,
#headerMenuBox label{
	display: table;
	margin-top: 5px;
	min-width: calc(100% - 15px);
}

#headerRight{
	position: absolute;
	right: 10px;
	height: 100%;
}

#header #searchFriendsHeader{
	z-index: 1;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

#header #imglogo{
	z-index: 1;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 25px;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

#userheader .button{
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}

#headerRight *{
	z-index: 1;
}

#headerRight .button{
	position: relative;
	top: 30%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}

#headerMenuButton{
	height: 100%;
	position: relative;
	top: 50%;
	left: 9px;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	background-color: rgb(0, 150, 100);
	border-left: 1px solid black;
}

#headerMenuButton:hover{
	background-color: rgb(0, 140, 90);
	cursor: pointer;
}

#userheader{
	position: absolute;
	left: 60px;
	top: 0;
	height: 100%;
	width: 100%;
}

#userheader p{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
	height: 20px;
}

#headerNotifications{
	margin-left: 5px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 20px;
	text-align: center;
	color: white;
	min-width: 16px;
	border-radius: 10px;
}

#actionsOptions{
	position: absolute;
	top: 45px;
	background-color: rgb(245, 245, 245);
	width: 50px;
	height: calc(100% - 55px);
}

#actionsOptionsList{
	list-style: none;
}

#actionsOptionsList li {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	display: table;
	cursor: pointer;
}

#actionsOptionsList img{
	margin: auto;
	display: table;
}

#actionsOptionsList li:hover{
	background-color: rgb(110, 210, 160);
	
}

#actionsOptionsList li.activeOptionsLi{
	background-color: rgb(110, 210, 160);
}

#mapthings *{
	z-index: 3;
}

.pageBox{
	top: 45px;
	position: relative;
	height: calc(100% - 45px);
	width: 100%;
}

.loading{
	width: 50px;
	height: 50px;
	position: relative;
	top: 50%;
	left: 50%;	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

h1{
	font-size: 30px;
}

a, p, textarea, input, li, label, b, pre, span{
	font-size: 14px;
}

pre{
	white-space: pre-line;
}

a{
	cursor: pointer;
}

input{
	text-decoration: none;
	padding: 0.1cm;
	border: 1px solid rgb(150, 150, 150);
	margin: 2px 0px;
	min-height: 0.55cm;
	font-weight: normal;
}

textarea{
	resize: none;
	text-decoration: none;
	padding: 0.1cm;
	border: 1px solid rgb(150, 150, 150);
	margin: 2px 0px;
	min-height: 0.55cm;
	font-weight: normal;
}

input[type=text]{
	min-width: 100px;
}

.whitetext{
	color: white;
}

.redtext{
	color: red;
	font-weight: normal;
}

.greentext{
	color: rgb(0, 160, 110);
}

.button{
	font-weight: bold;
	border-radius: 2px;
	border: 1px solid black;
	margin: 2px 0px;
	text-decoration: none;
	text-align: center;
	background-color: rgb(0, 150, 100);
	color: white;
	padding: 0.11cm;
}

.button:hover{
	background-color: rgb(0, 140, 90);
	cursor: pointer;
}

.button *{
	font-weight: bold;
}

#header .button{
	background-color: rgb(0, 175, 125);
}

#header .button:hover{
	background-color: rgb(0, 140, 90);
	cursor: pointer;
}

.noDecorationLink{
	text-decoration: none;
	color: inherit;
}

.link{
	text-decoration: none;
	color: rgb(0, 110, 60);
	font-weight: bold;
}

.link:hover{
	text-decoration: underline;
}

.box{
	background-color: white;
	padding: 10px;
	width: calc(100% - 30px);
	border: 1px solid rgb(220, 220, 220);
	margin: 5px auto 0px;
}

.boxWithoutWidth{
	background-color: white;
	padding: 10px;
	border: 1px solid rgb(220, 220, 220);
	margin: 5px auto;
}

.littleBox{
	background-color: white;
	padding: 2px;
	width: 90%;
	margin: 2px auto;
}

.notificationWhiteBox{
	background-color: white;
	padding: 10px;
	width: calc(100% - 35px);
	border: 1px solid black;
	margin: 5px auto 0px;
}

.notificationGreenBox{
	background-color: rgb(230, 255, 240);
	padding: 10px;
	width: calc(100% - 35px);
	border: 1px solid black;
	margin: 5px auto 0px;
}

.clickbox:hover, .notificationWhiteBox:hover, .notificationGreenBox:hover{
	background-color: rgb(245, 245, 250);
	cursor: pointer;
}

.markerContent{
	padding: 15px;
	border-radius: 10px;
}

.markerContent input,
#loginMenu input[type=text],
#loginMenu input[type=email],
#loginMenu input[type=password],
#config input[type=text],
#config input[type=password]{
	width: 100%;
}

.searchForm{
	background-color: white;
	padding: 3px;
	border-radius: 5px;
}

.searchForm .button{
	position: relative;
	float: right;
}

.searchForm input[type=text]{
	width: calc(100% - 40px);
	height: 21px;
}

.centered{
	margin: auto;
	display: table;
}

#eventDescription{
	width: 310px;
	height: 75px;
}

#profileImage{
	border: white solid 1px;
}

.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}

.hidden{
	display: none;
}

#resultsEvent{
	text-align: center;
	width: 75px;
	border: none;
}

.leftImgBox{
	float: left;
	margin-right: 10px;
}

.above{
	max-width: calc(100% - 25px);
	max-height: calc(100% - 40px);
	z-index: 3;
	border-color: black;
	border-radius: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	box-shadow: 10px 10px 25px 5px rgba(0,0,0,0.5);
}

#createEvent{
	overflow-y: scroll;
}

#createEventForm label{
	position: relative;
	top: 5px;
	margin-bottom: 5px;
	width: 100%;
	float: left;
}

#createEventForm input[type=text],
#createEventForm textarea{
	width: calc(100% - 26px);
}

#createEventForm #dateCreateEvent,
#createEventForm #timeCreateEvent{
	width: calc(50% - 20px);
}

#createEventForm #dateCreateEvent{
	margin-right: 5px;
}

#createEventForm #address{
	width: calc(100% - 55px);
}

#createEventForm input[type=checkbox]{
	width: 15px;
}

#commentTextarea{
	width: calc(100% - 10px);
	height: 50px;
}

#spamText{
	position: absolute;
	top: 100%;
	display: none;
}