doctype html
html
	head
		title #{eventTitle}
		meta(charset="utf-8")
		meta(name='viewport', content='initial-scale=1.0, user-scalable=yes')
		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(href='/css/style.css', rel='stylesheet', type='text/css')
		link(href='/css/desk.css', rel='stylesheet', type='text/css')
		link(href='/css/cell.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='../js/jquery-3.1.1.min.js')
		script(type='text/javascript', src='../js/principal.js')
		script(type='text/javascript', src='../js/header.js')
		script(type='text/javascript', src='../js/event/event-page.js')

	body
		div(id="header")

		div.pageBox
			div.box
				img.centered(style='height:200px; max-width: 100%;' src="#{eventPhoto}")
				a.link(href='/event/#{eventId}')
					h1.centered #{eventTitle}
				div.hidden.box#assistsDiv
					h4.floatRight#assists
					form.hidden#assistForm(onsubmit='return assistAjax()')
						input(type='submit' value='Asistir' class='button')
						input(type='hidden' value='#{eventId}' name='eventId')
					form.hidden#notAssistForm(onsubmit='return notAssistAjax()')
						input(type='submit' value='Dejar de asistir' class='button')
					p.redtext#errorAssist
				div.box
					p Creado por&nbsp
						a.link(href='/#{ownerUsername}') #{ownerUsername}
					p#timeElapsed(style="color: gray;")
					br
					p#completeAddress
					p#privacy
					br
					p#datetime
					p#duration
					br
					pre#description No puedes ver este evento porque es privado, para verlo debes ser amigo de su creador.

				form.hidden#commentForm.box(onsubmit="return commentAjax()")
					textarea#commentTextarea(type="text" placeholder="Escribe un comentario" name='comment' maxlength='500')
					input(type='hidden' value='#{eventId}' name='eventId')
					input(type='hidden' id='ownerId' value='' name='ownerId')
					p.redtext#errorComment
					input.button#commentSubmit(type='submit' value='Comentar')

				div.hidden#comments

		input(type='hidden' value='#{eventId}' id='eventId')
		input(type='hidden' value='#{sessionId}' id='sessionId')