doctype html
html
	head
		title #{eventTitle}
		meta(charset="utf-8")
		meta(name='viewport', content='initial-scale=1.0, user-scalable=yes')
		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(href='/css/style.css', rel='stylesheet', type='text/css')
		link(href='/css/desk.css', rel='stylesheet', type='text/css')
		link(href='/css/cell.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='../js/jquery-3.1.1.min.js')
		script(type='text/javascript', src='../js/principal.js')
		script(type='text/javascript', src='../js/header.js')
		script(type='text/javascript', src='../js/event/event-page.js')

	body
		div(id="header")

		div.pageBox
			div.box
				img.centered(style='height:200px; max-width: 100%; cursor: pointer;' src="#{eventPhoto}" onclick="document.getElementById('eventPhotoInput').click()")
				a.link(href='/event/#{eventId}')
					h1.centered #{eventTitle}
				form#changeEventPhotoForm.box(action="/change/eventPhoto" method='post' enctype='multipart/form-data' onsubmit='return validateProfilePhoto()')
					input.button(type="button" value="Cambiar foto del evento" onclick="document.getElementById('eventPhotoInput').click()")
					input#eventPhotoInput.hidden(type='file' name='eventPhoto' accept='image/*' onchange='document.getElementById("changeEventPhotoForm").submit();')
					input(type='hidden' name='eventId' value='#{eventId}')
				div.hidden.box#assistsDiv
					h4.floatRight#assists
					form#deleteForm(action='/event/delete' method='post')
						input(type='button' style='width:125px;' value='Eliminar evento' class='button' onclick='document.getElementById("confirmDeleteEventDiv").style.display = "block";')
						input(type='hidden' value='#{eventId}' name='eventId')
						div.hidden#confirmDeleteEventDiv.box.above(style='width:400px;')
							p ¿Estás seguro de que quieres eliminar este evento?
							input.button(type='submit' value='Confirmar')
							input.button(type='button' value='Cancelar' style='margin-left:5px;' onclick='document.getElementById("confirmDeleteEventDiv").style.display = "none";')
					input.button#editEvent(type="button" style='width:125px;' value='Editar evento' onclick='editEvent()')

				div.box
					p Creado por&nbsp
						a.link(href='/#{ownerUsername}') #{ownerUsername}
					p#timeElapsed(style="color: gray;")
					br
					p#completeAddress
					p#privacy
					br
					p#datetime
					p#duration
					br
					pre#description
					form#editEventForm.hidden(onsubmit='return editEventConfirm()')
						input(type='hidden' value='#{eventId}' name='eventId')
						textarea#descriptionEdit(name='description' style='width: 100%; height: 400px;')
						p.redtext#editEventError
						input.button#editEventSubmit(type='submit' value='Terminar edición')
						input.button(type='button' value='Cancelar' style='margin-left:5px;' onclick='editEventCancel()')
					
				form.hidden#commentForm.box(onsubmit="return commentAjax()")
					textarea#commentTextarea(type="text" placeholder="Escribe un comentario" name='comment' maxlength='500')
					input(type='hidden' value='#{eventId}' name='eventId')
					input(type='hidden' id='ownerId' value='' name='ownerId')
					p.redtext#errorComment
					input.button#commentSubmit(type='submit' value='Comentar')

				div.hidden#comments

		input(type='hidden' value='#{eventId}' id='eventId')
		input(type='hidden' value='#{sessionId}' id='sessionId')